*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 2px solid red; */
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    line-height: 1.5;
    font-size: 18px;
}

.nav{
    height: 80px;
    display: flex;
    background: #1f2937;
    justify-content: center;
}

.nav .container{
    width: 1320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.nav .logo{
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.nav ul{
    display: flex;
    list-style: none;
    color: #e5e7eb;
    font-size: 18px;
}

.nav li{
    margin-left: 50px;
}

h1,
h5{
    margin-bottom: 15px;
}

.header h1{
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.header{
    height: 500px;
    display: flex;
    background-color: #1f2937;
    justify-content: space-evenly;
    align-items: center;
}

.header .container{
    color: #f9faf8;
}

.header .container button{
    margin-top: 30px;
    color: aliceblue;
    border-radius: 8px;
    border-style: none;
    background-color: #3882f6;
    padding: 10px 20px 10px 20px;
}

.header img{
    height: 300px;
    width: auto;
}

.section{
    height: 700px;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section h1{
    color: #1f2937;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 30px;
}

.section .cards{
    display: flex;
    gap: 30px;
}

.section .box{
    border: 5px solid #3882f6;
    border-radius: 20px;
    height: 250px;
    width: 250px;
    margin-bottom: 10px;
}

.section .subtext{
    display: flex;
    gap: 45px;
    justify-content: space-evenly;
}

.subtext p{
    text-align: center;
}

.quote{
    height: 500px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote p{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.name{
    width: 800px;
    display: flex;
    justify-content: end;
}

.name h5{
    font-size: medium;
    font-weight: bold;
}

.cta{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta .con{
    width: 1100px;
    height: 150px;
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    align-items: center;
}
.con .container{
    color: #f9faf8;
}
.con button{
    height: 40px;
    border-style: none;
    border: 1px solid #f9faf8;
    background: none;
    color: #f9faf8;
    padding: 0 40px 0 40px;
    border-radius: 10px;
}

.footer{
    color: #f9faf8;
    height: 100px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}